<div class="content">
  <!-- html5 has in-built validation
    novalidate hands over control from html5 to angular
    for server-side validation. -->

  <h1 style="text-align: center">Contact us</h1>

  <form name="contactForm" novalidate ng-submit="thankyouMessage()">
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style="color: red; display: block;">Enter a valid name</small>
    </div>
    <input
      type="text"
      placeholder="name"
      name="name"
      ng-model="contact.name"
      ng-required="true"
    />
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style="color: red; display: block;"
        >Enter a valid email address</small
      >
    </div>
    <input
      type="email"
      placeholder="email"
      name="email"
      ng-model="contact.email"
      ng-required="true"
    />
    <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
      <small style="color: red; display: block;">Enter a valid message</small>
    </div>
    <textarea
      placeholder="your message"
      name="message"
      ng-model="contact.message"
      ng-required="true"
    ></textarea>
    <input type="submit" value="Send" ng-disabled="contactForm.$invalid" />
  </form>
</div>
