$white: #ffff;
$black: #000000;
$pink: #fc036f;
$grey: #808080;
$light-grey: #f2f2f2;

.black {
  color: $black;
}

.pink {
  color: $pink;
}

.grey {
  color: $grey;
}

.light-grey {
  color: $light-grey;
}
