@import "colors";
@import "navbar";
@import "buttons";
@import "blog";
@import "icons";
@import "footer";

.banner {
  background-color: $black;
  h1,
  p {
    color: $white;
  }
}

.blog-card {
  img {
    width: 80%;
    height: auto;
  }
  p {
    font-size: 1em;
  }
  h6 {
    color: $grey;
  }
}

.trending-now {
  tr {
    border-bottom: 1px solid $black;
  }
  .number-padding {
    font-weight: 800;
    font-size: 60px;
    padding-right: 20px;
  }
}
