@import "colors";
@import "navbar";
@import "buttons";
@import "blog";
@import "icons";
@import "footer";

.banner {
  background-color: #3aafa9;
  h1,
  p {
    color: #ffff;
  }
}

.blog-card {
  img {
    width: 80%;
    height: auto;
  }
  p {
    font-size: 1em;
  }
  .read-more {
    padding: 0;
  }
}

.trending-now {
  tr {
    border-bottom: 1px solid $green3;
  }
  .number {
    font-weight: 800;
    font-size: 60px;
    padding-right: 20px;
  }
}
